p {
	font-family: serif;
}
.header-container{
	background-color: #42AF63;
	color: #ffffff;
	font-family: sans-serif;
	height: 100px;
	padding: 0;
	margin:0;
}
#name{
	padding-top: 5;
	padding-left: 10px;
	margin: 0;
	font-size: 80px;
	display: inline-block;
}
#tagline{
	padding-left: 40px;
	padding-bottom: 0px;
	margin: 0;
	display: inline-block;	
}