p {
	font-family: serif;
}
.header-container{
	background-color: #42AF63;
	color: #ffffff;
	font-family: sans-serif;
	height: 100px;
	padding: 0;
	margin:0;
}
#name{
	padding-top: 5px;
	padding-left: 10px;
	margin: 0;
	font-size: 80px;
	display: inline-block;
}
#tagline{
	padding-left: 40px;
	padding-bottom: 0px;
	margin: 0;
	display: inline-block;
}
#donate-button{
	display:inline-block;
	margin: 5px 5px 0px 0px;
	float:right;
	padding: 20px;
	border: 5px solid #FFFFFF;
	position: fixed;
	top: 5px;
	right: 5px;
	background-color: #42AF63;
}

.interrogative {
	background-color: #42AF63;
	display: block;
}

h3 {
	font-family: sans-serif;
}

#maintext {
	display: inline-block;
	width: 70%;
	border: 5px solid black;
	padding: 5px;

}

#sidebar {
	display: inline-block;
	float: right;
	width: 25%;
}

.greytext {
	color: #646262;
}
